
* {
    margin: 0;
    scroll-behavior: smooth;
}

.mainbody {
    display: flex;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    color:rgb(255, 255, 255);
}

.mainsection {
    width: 50rem;
}

/* SIDEBAR LEFT */

.sidebar {
    position: fixed;
    left: 10px;
    margin-top: 40px;
    width: 15rem;
    text-align: left;
}

.sidebar li {
    color:white;
    padding: 1rem;
    margin-bottom: 10px;
    text-align: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.116);
    border-radius: 5px;
    transition: background-color 0.5s;
}

.sidebar li:hover {
    background-color: rgba(255, 255, 255, 0.247);
}

.sidebar ul li::marker {
    content: '';
}

.sidebar a {
    text-decoration: none;
    margin-bottom: 10x;
}

/* SIDEBAR RIGHT */

.sidebar-right {
    position: fixed;
    right: 10px;
    margin-top: 40px;
    padding-right: 2.3em;
    width: 15rem;
    text-align: left;
}

.sidebar-right li {
    color:white;
    padding: 1rem;
    margin-bottom: 10px;
    text-align: center;
    text-align: center;
    list-style: square;
    background-color: rgba(255, 255, 255, 0.116);
    border-radius: 5px;
    transition: background-color 0.5s;
}

.sidebar-right li:hover {
    background-color: rgba(255, 255, 255, 0.247);
}

.sidebar-right ul li::marker {
    content: '';
}

.sidebar-right a {
    text-decoration: none;
    margin-bottom: 10x;
}

.skill-list {
    display: flex;
}

.skill-list li {
    font-size: 15px;
}

.skill-list li::marker {
    content: "♡ ";
}

.skill-list li:hover::marker {
    content: "✩ ";
}

.bg {
    background: linear-gradient(55deg, #a981b9 0%, #493464 51%, #212c4b 85%);
}

.subsection {
    margin: 30px;
    background-color: rgba(255, 255, 255, 0.116);
    padding: 50px;
    border-radius: 5px;
    transition: all 1s;
}

.subsection:hover {
    background-color: rgba(255, 255, 255, 0.247);
    transition: all 1s;
}

.subsection a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.5s, border-radius 0.5s;
}

.subsection a::before, .subsection a::after {
    content: " ⋆ ";
}

.subsection a:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.247);
    border-radius: 5px;
}


.drawing-img {
    margin: 1rem;
    width: 15rem;
    border: 1px solid white;
    border-radius: 5px;
}

.introduction {
    margin-left: 30px;
}

.divider {
    margin-top: 60px;
    text-align: center;
}

.divider:hover {
    cursor: default;
}

.welcome-text {
    font-family: 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3rem;
    margin: -10px;
}

.welcome-text:hover {
    cursor: default;
}

.drawings {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.project-item {
    display: flex;
    align-items: center;
}

.project-image {
    margin: 1rem;
    width: 15rem;
    border: 1px solid white;
    border-radius: 5px;
}

.canvas {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

.celphone-navbar {
    display: none;
}

/* DEMO-SPECIFIC STYLES - efect by @geoffgraham on CodePen*/
.typewriter {
    color: #fff;
    font-family: 'Pangolin', cursive;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid rgba(255, 255, 255, 0.589); /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
  }
  
  /* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
  
  /* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-right: .15em solid rgba(255, 255, 255, 0.589); }
}

.up-page-button {
    padding-top: 5px;
    text-decoration: none;
    text-align: center;
    background-color: white;
    font-size: 30px;
    color: #493464;
    width: 50px;
    height: 45px;
    border: none;
    border-radius: 50%;
    z-index: 5;
    position: fixed;
    left: 20px;
    bottom: 20px;
    -webkit-box-shadow: 0px 0px 35px -14px rgba(0,0,0,0.38);
    -moz-box-shadow: 0px 0px 35px -14px rgba(0,0,0,0.38);
    box-shadow: 0px 0px 35px -14px rgba(0,0,0,0.38);
}

.up-page-button:hover::after {
    position: fixed;
    color: #493464;
    left: 90px;
    content: 'Ir al principio';
    padding: 10px;
    font-size: 1rem;
    width: 100px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}

@media only screen and (max-width: 1200px) {

    .mainbody {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mainsection {
        width: 100%;
    }
    #canvas {
        display: none;
    }

    .celphone-navbar {
        display: none;
    }

    .sidebars-section {
        height: 10rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: rgba(255, 255, 255, 0.219);
    }

    .sidebar {
        margin-right: 50px;
        width: 100%;
        left: 0px;
        margin: 0px 0px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .sidebar ul {
        margin-left: -40px;
    }

    .sidebar li {
        display: inline
    }
    
    .sidebar-right {
        width: 100%;
        right: 0px;
        margin: 0px 0px;
        padding-right: 0px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .sidebar-right .clock {
        display: none;
    }

    .sidebar-right li {
        display: inline;
    }
}

@media only screen and (max-width: 758px) {
    #canvas {
        display: none;
    }

    .celphone-navbar {
        display: flex;
        padding: 1rem 0px;
        justify-content: start;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.219);
    }

    .navbar-button {
        color: white;
        background-color: rgba(255, 255, 255, 0.219);
        font-family: 'Pangolin', cursive;
        font-size: 3rem;
        border-radius: 5px;
        margin-left: 30px;
        padding: 0px 20px;
        border: 0px;
    }

    .welcome-text{
        font-size: 20px;
    }
    
    .mainbody {
        flex-direction: column;
    }

    .sidebars-section-hide {
        display: none;
    }

    .sidebars-section-show {
        display: flex;
        width: 100%;
        height: 20rem;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.219);
    }

    .sidebar {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .sidebar li {
        display: block;
    }

    .sidebar ul::before {
        content: '.~*+ Navigation +*~.';
    }

    .sidebar-right {
        position: relative;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .sidebar-right ul {
        margin: 0;
        padding: 0;
    }

    .sidebar-right li {
    display: block;
    }
    
    .sidebar-right ul::before {
        content: '.~*+ ¡Contact me! +*~.';
    }

    #name p {
        margin-left: -10px;
        width: 100%;
    }

    #projects ul {
        margin-top: 10px;
    }

    #projects ul li {
        text-align: center;
        flex-direction: column;
        margin-left: -40px;
    }

    .project-image {
        width: 80%;
    }
}